		<!-- contacts start -->
		<!-- ================== -->
		<section id="contacts" class="contacts container section">
			<h2 class="contacts__header">Контакты</h2>
			<div class="contacts-wrapper clearfix" ng-controller="initMapController">
				<div class="contact-info">
					<ul class="contact-list">
						<li class="contact-list__item">
							<p class="contact-list__address"><i class="contact-list__icon fa fa-map-marker"></i>г. Киев, улица Возможно Всё, дом 1, офис 1</p>
						</li>
						<li class="contact-list__item">
							<a href="tel:+380XXXXXXXXX" class="contact-list__link"><i class="contact-list__icon fa fa-phone"></i>+38 0XX XXXXXXX</a>
						</li>
						<li class="contact-list__item">
							<a href="mailto:info@possibleall.com" class="contact-list__link"><i class="contact-list__icon fa fa-envelope"></i>info@possibleall.com</a>
						</li>
					</ul>
					<ul class="socials">
						<li class="socials__item"><a href="#" target="_blank" class="socials__link facebook"><i class="fa fa-facebook socials__icon"></i></a></li>
						<li class="socials__item"><a href="#" target="_blank" class="socials__link linkedin"><i class="fa fa-linkedin socials__icon"></i></a></li>
						<li class="socials__item"><a href="#" target="_blank" class="socials__link instagram"><i class="fa fa-instagram socials__icon"></i></a></li>
					</ul>
				</div>
				<div class="google-map">
					<div id="google-map__map" class="btn"></div>
				</div>
			</div>
		</section>
		<!-- contacts end -->
		<!-- ================== -->