		<!-- slider section start -->
		<!-- ================== -->
		<!-- Controller for slider -->
		<section  id="home" class="slider-section js-section">
			<!-- slider start -->
			<div class="slider" ng-click="stop()"> 

				<!-- slider wraper start -->
				<div class="slider__wraper"> 
					<ul class="slider__slides">
						<li class="slider__slide"><img src="./images/slide1.jpg" class="slider__img" alt="Вокруг света"></li>
						<li class="slider__slide"><img src="./images/slide2.jpg" class="slider__img" alt="Природа"></li>
						<li class="slider__slide"><img src="./images/slide3.jpg" class="slider__img" alt="Природа"></li>
					</ul>  
				</div>
				<!-- slider wraper end -->

				<!-- slider content start-->
				<h1 class="slider__header">Рекламное агенство "Возможно всё"</h1>
				<!-- slider content end -->

			</div> 
			<!-- slider end -->
		</section>
		<!-- slider section end -->
		<!-- ================== -->

		<!-- main start -->
		<!-- ================== -->
		<section class="main section">
			<header class="main-headers">
				<h2 class="main__header">О компании</h2>
				<h3 class="main__slogan">Сделаем невозможное возможным!</h3>
			</header>
			<p class="main__text">Лорем ипсум долор сит амет, вис ад мазим аппетере, сит денияуе перицула ин. Риденс десеруиссе интеллегам не меи. Магна оцурререт еум не. Ин нец афферт долорес, либер аудире усу те. Цасе елецтрам ат хис, нам ат утинам интерпретарис цонцлудатуряуе.</p>
			<p class="main__text">Ид прима вивендум вих, хас не натум либрис. Ид яуаерендум цонтентионес усу. Ат граецис луцилиус номинати сит, вих но нихил адмодум репримияуе, ат сеа фацер салутанди. Дефиниебас сусципиантур ид сеа, цу идяуе тантас сед, облияуе медиоцрем еос цу. Меи порро сплендиде сусципиантур не. Еам адхуц аудире сентентиае цу, ет елитр мелиус еум, но вери миним ратионибус меи.</p> 
			<p class="main__text">Еам солум идяуе доценди ех. Цонгуе утрояуе репримияуе сеа ан, ех про дицат иудицо. Ассум витуператорибус те вих. Хас синт импетус ат. Не меа утинам цоммодо.</p> 
		</section>
		<!-- main end -->
		<!-- ================== -->